<% provide(:title, 'About') %>
	    <h1>About Us</h1>
	    <p>
	      <a href="http://thebooks.heroku.com/">The Books</a>
	      is an experimental project to create an accounting application
	      for small businesses with <a href="http://rubyonrails.org/">Ruby on Rails</a>. 
		  It is currently under development and for personal use only.
	    </p>