<% provide(:title, 'Help') %>
    <h1>Help</h1>
    <p>
      This is the help page for the
      <a href="http://thebooks.heroku.com/">The Books</a>
      application.
    </p>

	<p>
		This is just a stub.
		This page is under construction. Nothing to see here, move along now.
	</p>